#count-down-wrap-9815 .porto_countdown-amount {  } #count-down-wrap-9815 .porto_countdown-period, #count-down-wrap-9815 .porto_countdown-row:before {}
        .header-icon-user{
            display: inline-block;
            padding: 0 .125rem;
            font-size: 24px;
            vertical-align: middle;
            color: #7ba7e2 !important;
        }
        .header-icon-cart{
            display: inline-block;
            padding: 0 .125rem;
            font-size: 24px;
            vertical-align: middle;
            color: #7ba7e2;
        }
        .icon-cart-number{
          border-radius: 15px;
          background-color: red;
          color: white;
          padding: 0px 7px;
          font-size: 10px;
          position: absolute;
          top: 0px;
          right: -13px;
        }
        .header-phone{
            display: inline-block;
            padding: 0 .125rem;
            font-size: 15px;
            vertical-align: middle; 
        }
        .title-t{
            font-weight:700;
            font-size:14px;
            line-height:1;
        }
        .bgc-white{
          background-color: white;
        }
        .link-black{
          color: black;
        }
        .brcr-icon-lr{
          padding-left: 5px;
          padding-right: 5px;
        }
        .bbi-text-0{
          right:5%;top: 50%;
          transform: translateY(-50%);
        }
        .bbi-text-1{
          font-size:4.3125em;
          line-height:1;
        }
        .bbi-text-2{
          font-size:2.125em;
          line-height:1;
        }
        .bbi-text-3{
          font-size:2.875em;
          line-height:1;
        }
        .mbi-text-1{
          font-size:2.25rem;
          line-height:1.15;
          color:#ffffff;
        }
        .mbi-text-2{
          background-color: #ff7272 !important;
          border-color: #ff7272 !important
        }
        .mbi-text-3{
          font-size:.7rem;
          font-weight:700;
          line-height:1.4;
          text-align:center;
        }
        .mbi-1{
          background-image: url(/homepage/images/{{ $dataImageOption['med_b_i']['name'][0] != '' ? $dataImageOption['med_b_i']['name'][0] : 'med-banner1.jpg' }});
          background-position: center center;
          background-size: cover;
          background-color: rgb(34, 37, 41);
          position: relative;
          overflow:
        }
        .mbi-2{
          background-image: url(/homepage/images/{{ $dataImageOption['med_b_i']['name'][0] != '' ? $dataImageOption['med_b_i']['name'][0] : 'med-banner1.jpg' }});
          background-size: cover;
          background-position: 50% 0%;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
        }
        .sbi-1{
          background-position: center center;
          background-size: cover;
          background-color: rgb(0, 136, 204);
          position: relative;
          overflow: hidden;
        }
        .sbi-2{
          background-image: url(/homepage/images/{{ $dataImageOption['small_b_i']['name'][0] != '' ? $dataImageOption['small_b_i']['name'][0] : 'small-banner.jpg' }});
          background-size: cover;
          background-position: 50% 0%;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 150%;
        }
        h2.resp-accordion:before{
        content : '' !important;
       }
       div.tab-content{
        padding: 10px !important;
          margin-top: 10px !important;
          border: 2px solid #f3eeee !important;
          border-radius: 20px;
          box-shadow: -10px 10px #f3eeee !important;
       }
        .star-rating span:before{
        color: #ffea30;
       }
       .add-to-cart{
        background-color: #2b2b2d;
        border: 1px solid #2b2b2d;
       }
       .bor-radius-1{
        border-radius: 8px;
       }
       .sale-product-daily-deal{
        padding: 5px;
       }
       .sale-product-daily-deal:before{
        border-radius: 7px;
       }
        #porto-product-categories-3675 li.product-category .thumb-info-wrapper:after { background-color: rgba(27, 27, 23, 0); }#porto-product-categories-3675 li.product-category:hover .thumb-info-wrapper:after { background-color: rgba(27, 27, 23, 0.15); }
        .bgc-white {
            background-color: white;
        }
        .link-black {
            color: black;
        }
        .brcr-icon-lr {
            padding-left: 5px;
            padding-right: 5px;
        }
        .hr-style {
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .icon-success {
            color: green;
            padding-right: 5px;
        }
        .icon-pending {
            color: #ff9900;
            padding-right: 5px;
        }
        .icon-cancel {
            color: red;
            padding-right: 2px;
        }
        .red {
            color: red;
        }
        .btn-border-radius {
            border-radius: 20px;
        }
        .table-style {
            border-radius: 20px;
        }
        .btn-order {
            width: 100%;
            font-size: 20px;
            background-color: #5d9bb7 !important;
        }
        .btn-order:hover {
            background-color: black;
        }
        .mycart {
            margin-bottom: 10px;
            padding: 10px;
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0px 2px 5px 3px #c4c4c4;
        }
            .mycart-header {
                border-bottom: 1px solid #a7a4a4;
                padding: 7px;
                margin-bottom: 5px;
            }
            .mycart-body {
                border-bottom: 1px solid #a7a4a4;
                margin-bottom: 5px;
            }
            .bor-bottom{
                border-bottom: 1px solid #a7a4a4;
            }
                .mycart-item {
                    display: flex;
                    flex-direction: row;
                    padding: 5px 0 10px 0;
                }
                .mycart-item-p {
                    width: 70px;
                }
                .product-image{
                	border-radius: 8px;
                	/* box-shadow: 0px 2px 5px 3px #c4c4c4; */
                }
                .product-image img{
                    border-radius: 8px;
                }
                .product-qty{
                	flex-grow: 1;
                    padding: 5px;
                }
                .product-pick{
                    width: 50px;
                }
                .align-auto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%
                }
            .mycart-footer{
                padding: 7px;
            }
                .btn-pay{
                    background-color: #8eaccd;
                    border-radius: 8px;

                }
        .i-next-input-t2{
          background-color: #fff;
          border-color: rgba(0,0,0,.09);
          border-radius: 10px !important;
        }
        .input-type-2{
            border: 1px solid rgba(0,0,0,.09);
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
            border-radius: 10px;
            padding: 8px 15px 8px 15px !important;
            transition-duration: 0.3s;
        }
        .input-type-2:focus{
            border-bottom: 3px solid #8eaccd;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .btn-update-info{
            border-radius: 8px;
        }
        .p-title{
            font-size: 20px;
            color: black;
        }
        .p-icon-title{
            font-size: 16px;
            color: #656a65;
        }
        #clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 20px;
    }

    #clockdiv > div{
      padding: 5px;/
      border-radius: 3px;
      background: #EECBAD;
      display: inline-block;
    }

    #clockdiv div > span{
      padding: 10px;
      border-radius: 3px; 
      background: #8B7765;
      display: inline-block;
    }

    .smalltext{
      padding-top: 5px;
      font-size: 10px;
    }
    .social-icon{
      padding:17px;
      border-radius: 16px;
    }